# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
out/
.turbo/
.cache/

# Env files
.env
.env.local
.env.*.local
*.env
!*.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# PocketBase data
pocketbase/pb_data/
pocketbase/pb_data/**

# Misc
coverage/
.nyc_output/
*.tsbuildinfo
.env.deploy-check
docker-compose.override.local.yaml
docker-compose.override.local.yml
